includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app/
        - database/
        - routes/

    level: 6
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false

    # 💡 Подавляем динамический JWTAuth и любые внутренние анонимные классы:
    ignoreErrors:
        - '#Call to an undefined static method Tymon\\JWTAuth\\Facades\\JWTAuth::#'
        - '#Property class@anonymous.+#'
        - '#Method class@anonymous.+#'
        - '#Access to an undefined property class@anonymous.+#'
